---
import datos from "../../../data.json";
import Tecnologia from "../tecnologia.astro";
import Html from '../../icons/html.astro'
import Css from '../../icons/css.astro'
import Javascript from '../../icons/javascript.astro'
import Tailwind from '../../icons/tailwind.astro'
import React from '../../icons/react.astro'
import Node from '../../icons/node.astro'
import Sql from '../../icons/sql.astro'
import Php from '../../icons/php.astro'
import Next from '../../icons/next.astro'
import Git from '../../icons/git.astro'
import GitHub from '../../icons/GitHub.astro'
import Bootstrap from "../../icons/bootstrap.astro";
import ImgProducto from "../ImgProducto";

const iconos = [
    { nombre: 'HTML', icono: Html },
    { nombre: 'CSS', icono: Css },
    { nombre: 'JavaScript', icono: Javascript },
    { nombre: 'Tailwind CSS', icono: Tailwind },
    { nombre: 'React', icono: React },
    { nombre: 'Node.js', icono: Node },
    { nombre: 'MySQL', icono: Sql },
    { nombre: 'PHP', icono: Php },
    { nombre: 'Next.js', icono: Next },
    { nombre: 'Git', icono: Git },
    { nombre: 'GitHub', icono: GitHub },
    { nombre: 'Bootstrap', icono: Bootstrap }
]

const { proyectos } = datos;
---

<section class="w-full py-8">
    <main class="w-full mx-auto max-w-6xl flex flex-col items-center gap-2 p-4">
        <h1 class="text-3xl font-bold text-white mb-4">Mis proyectos</h1>
        <div class="flex flex-col gap-16 mb-1">
            {
                proyectos.map((proyecto) => (
                    <article class="grid grid-cols-1 gap-4 md:grid-cols-2 w-full">
                        <aside class="flex">
                            {
                                proyecto.imgs.map((imgurl) => (
                                    <ImgProducto client:load url={imgurl} alt={proyecto.nombre} />
                                ))
                            }
                        </aside>
                        <aside class="flex flex-col justify-center gap-4 text-balance">
                            <h2 class="text-2xl font-bold text-white">{proyecto.nombre}</h2>
                            <p class="text-gray-300">{proyecto.descripcion}</p>
                            <ul class="flex flex-wrap gap-2">
                                {
                                    proyecto.tecnologias.map((tecnologia) => {
                                        const Icon = iconos.find((icono) => icono.nombre === tecnologia)?.icono
                                        return <Tecnologia Icono={Icon} tecnologia={tecnologia} />
                                    })
                                }
                            </ul>
                        </aside>
                    </article>
                ))
            }
        </div>
    </main>
</section>

<style>
    @keyframes mostrar {
        from {
            opacity: 0;
            scale: 0.1;
        }
        to {
            opacity: 1;
            scale: 1;
        }        
    }

    /* article {
        view-timeline-name: --reveal;
        animation-name: mostrar;
        animation-fill-mode: both;
        animation-timeline: --reveal;
        animation-range: entry 10% cover 25%;

    } */
</style>
